# ---- Python ----
__pycache__/
*.pyc
*.pyo

# ---- IDE / Editor ----
.vscode/
.idea/

# ---- Operating System junk ----
.DS_Store
Thumbs.db

# ---- Databases / Local data ----
*.db
!/resources/
!resources/.gitkeep

# ---- Environment / secrets ----
.env
*.key
*.pem

# ---- Logs / temporary files ----
*.log
